[Unit]
Description=Gunicorn instance to serve Oceanwaves POS
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ocnwvs
# Ensure this points to the correct virtualenv path
Environment="PATH=/home/ubuntu/ocnwvs/venv/bin"
EnvironmentFile=/home/ubuntu/ocnwvs/.env
ExecStart=/home/ubuntu/ocnwvs/venv/bin/gunicorn --config gunicorn.conf.py oceanwaves_project.wsgi:application

Restart=always
RestartSec=5

# Logging - make sure this directory exists
StandardOutput=append:/home/ubuntu/ocnwvs/logs/gunicorn.access.log
StandardError=append:/home/ubuntu/ocnwvs/logs/gunicorn.error.log

[Install]
WantedBy=multi-user.target
